<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoingStuff</title>

    <link rel="stylesheet" href="/css/style.css">

    {{!-- Fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poppins:wght@100;300;400;600&display=swap" rel="stylesheet">

    {{!-- Ajax --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {{!-- Pjax --}}
    {{!-- <script src="https://cdn.jsdelivr.net/npm/jquery-pjax@2.0.1/jquery.pjax.min.js"></script> --}}
    {{!-- <script src="https://cdn.jsdelivr.net/npm/pjax@0.2.8/pjax.js"></script> --}}

    {{!-- Handlebars CDN --}}
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    {{!-- Fontawesome CDN --}}
    <script src="https://kit.fontawesome.com/a4e8b7b3a4.js" crossorigin="anonymous"></script>
</head>
<body>

    <header class="header-login">
        <h3 class="logo">Doing<span class="highlight">Stuff</span></h3>
    </header>


    <div class="wrapper-login">

        {{#if message}}
            <div class="warning">
                <p>
                    <button class="btn-icon btn-icon-close">
                        <i class="fa-regular fa-circle-xmark"></i>
                    </button>
                    {{message}}
                </p>
            </div>
        {{/if}}

        <div class="wrapper-form">

            <div class="container-form">
                <h1 class="highlight">Create an Account</h1>


                <form class="form-login" action="api/v1/signup" method="POST">


                    <div class="container-inputs">
                        <input type="text" name="name" id="name" class="input-login"
                            placeholder="Name" aria-placeholder="Name"/>

                        <input type="text" name="email" id="email" class="input-login"
                            placeholder="Email" aria-placeholder="Email"/>
                        
                        <input type="password" name="password" id="password" class="input-login"
                            placeholder="Password" aria-placeholder="Password" required />

                        <input type="password" name="confirmPassword" id="confirmPassword" class="input-login"
                            placeholder="Confirm Password" aria-placeholder="Confirm Password"/>
                    </div>

                    <button class="btn btn-login btn-login-main" type="submit">Register</button>
                </form>

                <div class="separator">
                    <hr>
                    <p>or</p>
                    <hr>
                </div>

                <a class="btn btn-login btn-login-secondary" href="/">Login</a>

                <!-- <form action="/testUser" method="POST">
                    <button type="submit">Is Someone There?</button>
                </form>

                <form action="/deleteTasks" method="POST">
                        <button type="submit">Delete all tasks</button>
                </form> --> 
            </div>

        </div>

        <div class="wrapper-bg-image">

            

        </div>

    </div>

    {{!-- <form action="api/v1/signup" method="POST">

        <div>
            <label for="name">Name</label>
            <input type="name" name="name" id="name" />
        </div>

        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required />
        </div>

        <div>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" />
        </div>

        <button type="submit">Sign up</button>
    </form>

    <form action="/testUser" method="POST">
        <button type="submit">Is Someone There?</button>
    </form> --}}


<script>
    $('.btn-icon-close').click( function() {
        $('.warning').fadeOut();
    })
</script>   
</body>
</html>