<header class="wrapper-nav">
    
    <nav class="navbar">
        <div class="navbar-left">
            <h3 class="logo"><a href="/home">DoingStuff</a></h3>
        </div>

        <div class="navbar-right">
            <div class="btn btn-icon">
                <i class="fa-solid fa-gear"></i>
            </div>
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </div> 
    </nav>

</header>